<a href="https://colab.research.google.com/github/harry84523/maingit/blob/master/Titanic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import os

In [ ]:
os.chdir('/content/drive/MyDrive/Colab Notebooks/data/KAGGLE/titanic')
os.getcwd()

'/content/drive/MyDrive/Colab Notebooks/data/KAGGLE/titanic'

In [ ]:
df_train = pd.read_csv('train.csv')
df_test = pd.read_csv('test.csv')

In [ ]:
print('The train data size:',df_train.shape)
print('The test data size:',df_test.shape)

The train data size: (891, 12)
The test data size: (418, 11)

In [ ]:
df_train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
df_test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [ ]:
df_train.isnull().sum()/len(df_train)*100

PassengerId     0.000000
Survived        0.000000
Pclass          0.000000
Name            0.000000
Sex             0.000000
Age            19.865320
SibSp           0.000000
Parch           0.000000
Ticket          0.000000
Fare            0.000000
Cabin          77.104377
Embarked        0.224467
dtype: float64

In [ ]:
df_test.isnull().sum()/len(df_test)*100

PassengerId     0.000000
Pclass          0.000000
Name            0.000000
Sex             0.000000
Age            20.574163
SibSp           0.000000
Parch           0.000000
Ticket          0.000000
Fare            0.239234
Cabin          78.229665
Embarked        0.000000
dtype: float64

In [ ]:
df_train_a = df_train.copy()
df_test_a = df_test.copy()

# Cabin na

In [ ]:
df_train_a.drop(columns='Cabin',inplace=True)

# AGE NA

In [ ]:
df_train_a['Age'].fillna(df_train_a['Age'].mean() , inplace=True)

# Embarked na

In [ ]:
df_train_a['Embarked'].fillna(df_train_a['Embarked'].mode()[0],inplace=True)

In [ ]:
df_train_a.isnull().any()

PassengerId    False
Survived       False
Pclass         False
Name           False
Sex            False
Age            False
SibSp          False
Parch          False
Ticket         False
Fare           False
Embarked       False
dtype: bool

In [ ]:
df_train_a.groupby('Embarked')['Embarked'].count()

Embarked
C    168
Q     77
S    646
Name: Embarked, dtype: int64

In [ ]:
df_train_a['Embarked'].replace({'Q','C','S'},(1,2,3),inplace=True)
df_train_a['Sex'].replace({'female','male'},(0,1),inplace=True)
df_train_a=df_train_a.drop(columns=['Ticket','Name'])
df_train_a.head()

   PassengerId  Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0            1         0       3    1  22.0      1      0   7.2500         3
1            2         1       1    0  38.0      1      0  71.2833         1
2            3         1       3    0  26.0      0      0   7.9250         3
3            4         1       1    0  35.0      1      0  53.1000         3
4            5         0       3    1  35.0      0      0   8.0500         3

## 回歸分析模型

In [ ]:
#切割檔案
from sklearn.model_selection import train_test_split
#LogisticRegression
from sklearn.linear_model import LogisticRegression
#Roc
from sklearn.metrics import roc_curve, auc,roc_auc_score
from sklearn.metrics import classification_report
#lightgbm
import lightgbm as lgb
#xgboost
from xgboost.sklearn import XGBClassifier

In [ ]:
df_target = df_train_a['Survived']
X = df_train_a.drop(columns='Survived')

In [ ]:
lg = LogisticRegression()

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, df_target, test_size=0.3, random_state=0)
lg.fit(X_train , y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

LogisticRegression()

In [ ]:
lg.score(X_test , y_test)

0.7873134328358209

In [ ]:
xgb = XGBClassifier(
    max_depth=3,#深度 
    n_estimators=500,#疊帶次數
    learn_rate=0.01)#學習數率
xgb.fit(X_train,y_train)
print(xgb.score(X_test,y_test))

0.8097014925373134